<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
  <form method="post" action="">

    {% csrf_token %}

    <input type="text" name="firstname" placeholder="First name" />
    <input type="text" name="lastname" placeholder="Last name" />
    <input type="text" name="username" placeholder="Username" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="confirm" placeholder="Confirm" />
    <input type="submit" value="Register" />
    <span>{{message}}</span>
  </form>
</body>
</html>